<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bookface - Dashboard</title>
	<link rel="stylesheet" type="text/css" href="static/stylesheets/dashboard.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<nav>
		<a href="/hall">BookFace</a>
		<div class="profile">
			<div class="icon" id="prof"><i class="fas fa-user"></i></div>
			<div class="hidden" id="logout">
				<div class="menu">
					<a href="/dashboard">Profile</a>
					<a href="/users/logout">Logout</a>
				</div>
			</div>	
		</div>
		
	</nav>
	<section class="welcome">
		<div class="profil-pic">
			PIC
		</div>
		<div>
			<div class="titles">
			<h1>Your Dashboard</h1>
			</div>
			<div class="infos">
				<h3>Welcome <%= user.name %></h1>
				<p>Member since <%= user.date %></p>
			</div>
		</div>
		<div></div>
		
	</section>

	<div class="yourPost">
		<h4>Recent posts</h4>
		<div class="post-overview">
			<% content.forEach((cont) =>{ %>
				<div class="postFetch">
					<h5><%= cont.date %></h5>
					<p><%= cont.postcontent %></p>
					
				</div>
			<% })%>
		</div>
		
	<script src="../static/scripts/dashboard.js"></script>
</body>
</html>


