<div> 
  <div>
    <h1> Login </h1>
    </div>
      <div>
            <div>
                <%- include ('./partials/messages') %>
                <form action="/users/login" method="POST">
                </div>
                    <label for="email">Email</label>
                    <input
                    type="email"
                    name="email"
                    placeholder="Enter Email"
                    />
            </div>
            <div>
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  placeholder="Enter Password" />
            </div>
            
              <div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
              </div>
    </div>
</div>