<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BookFace - Welcome</title>
	<link rel="stylesheet" type="text/css" href="static/stylesheets/welcome.css">
</head>
<body>
	<nav>
		<a href="">BookFace</a>
	</nav>
	<div class="welcome-card">
			<h1>Welcome!</h1>
			<p>Create an account or login</p>
			<div class="register-login">
				<a href="/users/register">Register</a>
				<a href="/users/login"> Login</a>
			</div>
			
	</div>	
</body>

</html>



