*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Quicksand', sans-serif;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

nav a{
	text-decoration: none;
	color: #00bcd4;
	font-weight: 700;
}

.profile{
	display: flex;
    flex-direction: column;
}

.icon{
	text-align: right;
}

.icon i{
	color: #00bcd4;
}

/*#logout a{
	font-weight: 400;
	font-size: 0.8em;
	text-align: center;
}*/

.hidden{
	display: none;
}



.menu{
	display: flex;
    flex-direction: column;
	text-align: right;
	background-color: #f0f2f5;
    border-radius: 5px;
    padding: 10px;
}

.menu a {
	font-weight: 400;
	font-size: 0.8em;
}

/*.menu a:nth-child(1){
	margin-top: 15px;
}*/

/*#logout{
	display: flex;
    flex-direction: column;
}*/

.welcome{
	display: flex;
	justify-content: space-around;
    align-items: center;
	background-color: #00bcd4;
    color: white;
    padding: 50px;
	text-align: center;
}

.titles{
	margin-bottom: 15px;
}
.titles h1{
	font-size: 50px;
}

.infos h3{
	margin-bottom: 15px;
}

.infos p{
	font-size: 0.7em;
	margin-bottom: 15px;
}

.post{
	margin: 50px;
}

.post-overview{
	background-color: #f0f2f5;
    padding: 15px;
    border-radius: 5px;
}

.yourPost{
	display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    text-align: center;
}

.yourPost h4 {
	margin-bottom: 25px;
	font-weight: 700;
}

.postFetch{
	background: white;
	box-shadow: grey 0px 3px 8px -1px;
	border-radius: 10px;
	margin-bottom: 25px;
}

.postFetch .name{
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid gray;
}

.postFetch h3{
	padding-bottom: 15px;
}

.postFetch h5{
	text-align: end;
	padding: 5px;
}

.postFetch p{
	padding: 15px 15px 30px;
}