*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	background-color: #f0f2f5;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 50px;
	background: #00bcd4;
}

nav input{
	font-family: 'Quicksand', sans-serif;
	border-radius: 12px;
    border: none;
    padding: 5px;
}

nav a{
	text-decoration: none;
	color: white;
	font-weight: 700;
}

nav a:hover{
	color: #ffce86;
}

.profile{
	display: flex;
    flex-direction: column;
}

.icon{
	text-align: right;
	cursor: pointer;
}



.icon i{
	color: white;
}

.icon i:hover{
	color: #ffce86;
}


.hidden{
	display: none;
}

.menu{
	display: flex;
    flex-direction: column;
	text-align: right;
	background-color: #f0f2f578;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 8%;
    right: 9%;
}

.menu a {
	font-weight: 700;
	font-size: 0.8em;
}

.writepost{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.img{
	margin-right: 15px;
}

.inputPost{
	display: flex;
}

.inputPost input{
    border-radius: 20px;
    border: none;
    background-color: #9e9e9e5e;
    padding: 10px;
}

.inputPost button{
	margin-left: 15px;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background: #00bcd4;
    color: white;
    cursor: pointer;
}

.postFetched{
	padding: 50px 300px;
	background-color: #f0f2f5;
}

.post{
	margin: 50px;
}

.yourPost{
	display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    text-align: center;
}

.yourPost p {
	margin-bottom: 25px;
	font-weight: 700;
}

.postFetch{
	background: white;
	box-shadow: grey 0px 3px 8px -1px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.postFetch .name{
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid gray;
}

.postFetch h3{
	padding-bottom: 15px;
}

.postFetch h5{
	margin-bottom: 15px;
	text-align: end;
	padding: 15px;
}


.postFetch p{
	padding: 0 45px;
}

.delete{
	text-align: end;
	margin-bottom: 25px;
}

.delete a{
	text-decoration: none;
	color: black;
	font-weight: 400;
}

.delete a:hover{
	color: #ffce86;
	font-weight: 700;
}

/* MEDIA QUERIES */

@media screen and (min-width:  300px){
	.postFetched {
    padding: 5px 10px;
}


@media screen and (min-width:  600px){
	.menu{
    right: 7%;
	}
	.postFetched {
    padding: 5px 100px;
}

}

@media screen and (min-width:  800px){
	.menu{
    right: 6%;
	}
}

@media screen and (min-width:  1000px){
	.menu{
    right: 4%;
	}
}

@media screen and (min-width:  1200px){
	.menu{
    right: 2%;
	}
}
